body {
  margin: 0;
  font-size: 16px;
  background: #f5f5f5;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
